<div class="page-header">
  <h1>User Login</h1>
</div>

<form ng-submit="register.regUser(regData);">
  <!-- username -->
  <label>Username :</label>
  <input class="form-control" type="text" name="username" id="username" placeholder="please enter username" ng-model="register.regData.username" />
  <br />
  <!-- password -->
  <label>Password :</label>
  <input class="form-control" type="password" name="password" id="password" placeholder="please enter password" ng-model="register.regData.password" />
  <br />
  <button class="btn btn-primary">Login</button>
</form>

<br />

<div class="justify-content-center d-grid bg-primary-subtle p-4 rounded-3" ng-show="register.loading">
  <div class="spinner-border text-primary" style="margin-left: 13px" role="status"></div>
  <span class="pt-2">Loading...</span>
</div>

<br />

<div class="row show-hide-message" ng-show="register.successMsg">
  <div class="alert alert-success">{{ register.successMsg }}</div>
</div>

<br />

<div class="row show-hide-message" ng-show="register.errorMsg">
  <div class="alert alert-danger">{{ register.errorMsg }}</div>
</div>
